POSTGRES_USER=your_username_here
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=widget_platform
DATABASE_URL=postgresql://your_username_here:your_password_here@db:5432/widget_platform

SUPABASE_JWT_SECRET= 04FBm2o9Q1prW/B0cQQL1rxX0337k2qZYlOt6oPlPIVhYjQQlFnZUlyz/iuF3y8kWOp+AxvQ7qBFPyVWaXnWrg==